.modalBackground {
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other elements */
}

.modalContainer {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative; /* To position the close button inside the modal */
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputField {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.inputField:focus {
    border-color: #4CAF50;
    outline: none;
}

.strengthIndicator {
    font-size: 0.9rem;
    font-weight: bold;
}

.submitButton {
    padding: 0.8rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #45a049;
}
