/* Overall page styling */
.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5; /* Light background color */
    position: relative;
    padding: 0 20px;
}

/* Card style for login form */
.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: #ffffff; /* White background for the form */
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Company name styling */
.companyName {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #0052cc; /* Color for the company name */
}

/* Header styling for the form */
.formHeader h2 {
    margin-bottom: 8px;
    font-size: 24px;
    color: #333;
}

.formHeader p {
    margin-bottom: 20px;
    color: #777;
    font-size: 14px;
}

/* Form input styling */
.form {
    display: flex;
    flex-direction: column;
}

.input {
    /* width: 100%; */
    padding: 14px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    background-color: #fafafa;
    transition: all 0.2s ease-in-out;
}

.input:focus {
    border-color: #007bff;
    background-color: #fff;
    outline: none;
}

/* Submit button styling */
.submitButton {
    width: 100%;
    padding: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #0056b3;
}

/* Auth toggle */
.authToggle {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.authToggle p {
    display: inline;
}

.toggleLink {
    color: #007bff;
    font-weight: 600;
    cursor: pointer;
}

.toggleLink:hover {
    text-decoration: underline;
}

/* Google login button */
.googleAuth {
    margin-top: 30px;
}

.googleAuth p {
    font-size: 14px;
    color: #777;
}

.googleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.googleButton:hover {
    background-color: #f0f0f0;
}

.googleButton img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
